@model List<Flag>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        @foreach (var i in Model)
        {
            <div class="col-md-3">
                <div class="card m-4" style="width: 18rem;">
                    <img src="@i.ImageSrc" class="card-img-top" alt="@i.CountryName">
                    <div class="card-body">
                        <h5 class="card-title">@i.CountryName</h5>
                        <a href="#" class="btn btn-dark">Подробнее</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

